<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <TargetLatestRuntimePatch>true</TargetLatestRuntimePatch>
    <WindowsAppSDKSelfContained>true</WindowsAppSDKSelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <PublishDir>$(MSBuildProjectDirectory)\..\..\artifacts\publish\win-x64\</PublishDir>
    <DeleteExistingFiles>true</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <KnownFrameworkReference Update="Microsoft.NETCore.App">
      <LatestRuntimeFrameworkVersion>9.0.19</LatestRuntimeFrameworkVersion>
    </KnownFrameworkReference>
  </ItemGroup>
</Project>
